:root {
  --content: #003366;
  --brand: #ffffff;
  --size: #666666;
  --section-space: 100px;
  --row: #333333;
}

body {
  margin: 0;
}

* {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
}

.container {
  width: 1140px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
}

.header {
  background-color: var(--content);
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
  width: 280px;
  height: 605px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  padding: 79px 81px 135px;
}

.selo {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
  text-decoration: none;
}

.menu a {
  text-align: center;
  color: var(--brand);
  margin: 20px;
}
.content{
  padding: 175px 50px;
}
.content h1 {
  color: var(--content);
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.content h2 {
  font-size: 32px;
  color: #333333;
  font-weight: auto;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}
.content p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: var(--size);
  padding: 4px;
}
